<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<form>

				<button id="sendCalls" type="button">Send Calls</button>
				<button id="didList" type="button">List DIDs</button>
				<!-- <button id="abortCalls" type="button">Abort Test (Hangup Calls)</button> -->
				<button id="listChannels" type="button">List Channels</button>
				<label for="manDID">Manual DID:</label><input id="manDID">
				<button id="callDID" type="button">Call Me</button>
				<span id="msgmanDID"></span>

			<div id="tabs1">
				<ul>
					<li><a href="#tabs1-1">By Hub</a></li>
					<li><a href="#tabs1-2">By Client</a></li>
					<li><a href="#tabs1-3">By File</a></li>
				</ul>
				<div id="tabs1-1">
					
						
						
						<label for="hub">Choose Hub:</label><select id="hub"><option value='' selected='selected'>Pick One!</option></select>
						
					
				</div>
				<div id="tabs1-2">
					
						
						<label for="client">Choose Client:</label><select id="client"><option value='' selected='selected'>Pick One!</option></select>
						

					
				</div>				
				<div id="tabs1-3">	
						
						
						<label for="file">Choose File:</label><input type="file" name="fileUpload" id="fileUpload" class="fileUpload"></input>
						

					
				</div>
			</div>
		<fieldset>
		<legend>DID Display</legend>
		<div id="dispDIDs" style="width:100%;height:600px;float:left;overflow:scroll;">
			<table id="didTable">
				<thead>
					<th>col 1</th>
					<th>col 2</th>
					<th>col 3</th>
					<th>col 4</th>
				</thead>
				<tbody>
<!-- 					<td>data 1</td>
					<td>data 2</td>
					<td>data 3</td>
					<td>data 4</td> -->
				</tbody>
				<tfoot></tfoot>
			</table>


		</div>
	</fieldset>
	<fieldset>
	<legend>Channel Display</legend>
		<div id="dispChannels" style="width:100%;height:600px;float:left;overflow:scroll;">
		


		</div>
	</fieldset>

</form>

<!-- Index page logic -->
<script type="text/javascript">
	//Index Page Logic
	$('document').ready(function(){
		$( "button" ).button();
		//$( "#accordion1" ).accordion();
		$( "#tabs1" ).tabs();
		$( "select" ).selectmenu();
		$( "select" ).selectmenu( {icons: { button: "ui-icon-circle-triangle-s" }, width: 200});
		$( '#sendCalls' ).click(function(){sendCalls();});
		$( '#callDID' ).click(function(){makeCall($("#manDID").val());});
		$( '#didList' ).click(function(){didList($( "#hub").val());});
		$( '#abortCalls' ).click(function(){abortCalls();});
		$( '#listChannels' ).click(function(){listChannels();});
		
		$('.fileUpload').liteUploader({
				script: '/didUpload'
			})
			.on('lu:success', function (e, response) {
				alert('Uploaded!');
			});

		popLists("hub");
		//alert("page loaded");
		didData = [
		    {
		        "name":       "Tiger Nixon",
		        "position":   "System Architect",
		        "salary":     "$3,120",
		        "start_date": "2011/04/25",
		        "office":     "Edinburgh",
		        "extn":       "5421"
		    },
		    {
		        "name":       "Garrett Winters",
		        "position":   "Director",
		        "salary":     "$5,300",
		        "start_date": "2011/07/25",
		        "office":     "Edinburgh",
		        "extn":       "8422"
		    	}
			]	
		didTable = $("#didTable").DataTable();
		


	});

</script>

