<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='jquery/jquery-ui.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.dataTables.min.css' />
    <link rel='stylesheet' href='/stylesheets/dataTables.jqueryui.css' />
    <script src='/jquery/external/jquery/jquery.js'></script>
    <script src='/jquery/jquery-ui.min.js'></script>
    <script src='/jquery/jquery.liteuploader.min.js'></script>
    <script src='/javascripts/spin.min.js'></script>
    <script src='/javascripts/jquery/js/jquery.spin.js'></script>
    <script src='/javascripts/jquery.dataTables.min.js'></script>
    <script src='/javascripts/dataTables.jqueryui.js'></script>
    <script src='/javascripts/main-didchecker.js'></script>

  </head>
  <body>
    <%- body %>
  <div id="spinner"></div>
  <div id="overlay"></div>

  </body>
</html>