body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
fieldset {
	width:48%;
	min-height:550px;
	float:left;
	border-radius: 5px 5px 5px 5px;
}

label {
    display: block;
    margin: 20px 0 0 0;
}
td {
	text-align: center;
}
#title {
	position:absolute;
	right: 100px;
	top: 25px;
}
.form {
	list-style: none;
	display: inline-block;
}
a {
  color: #00B7FF;
}
.ui-progressbar {
    //position: fixed;
    //margin: 0 auto;
    //top: 20px;
    //left: 25%;
    //display: none;
    //z-index: 99;
    width: 100%;
}
#progressbar .ui-progressbar-value {
	background-color: #ccc;
}
.progress-label {
    position: absolute;
    left: 45%;
    top: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
#overlay {
	position:absolute;
	top:0;
	left:0;
	display:none;
	//background-color:grey;
	opacity:0;
	background: grey url("/javascripts/jquery/css/ui-lightness/images/animated-overlay.gif") 50% 50% repeat;
}
.spinner {
}

.ui-icon-notreceived {
	background-position: -96px -128px;
	color: red;
}

.ui-icon-received {
	background-position: -64px -144px;
	color: green;
}

/*.dataTables_scroll {
	min-height:500px;
	height:400px;
}
.dataTables_scrollBody {
	min-height:500px;
	height:400px;
}*/